@using EventoCore.Entities
@{
    var evento = (Evento)ViewBag.Evento;
    var usuarios = ((IEnumerable<Usuario>)ViewBag.Usuarios);
}

<style>

    .body-cadastro {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: white;
    }

    .cadastro {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
        width: 500px;
    }

        .cadastro .pading {
            display: flex;
            flex-direction: column;
        }

    .input input {
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 4px;
        width: 100%;
    }

        .input input:focus {
            outline: none;
            border-color: #9165e3;
        }

    .button-cadastro {
        color: white;
        border: none;
        cursor: pointer;
        display: inline-block;
        margin-top: 20px;
    }

        .button-cadastro:hover {
        }

    #erro {
        color: red;
        margin-bottom: 10px;
    }

    .d-none {
        display: none;
    }

    .input textarea {
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 4px;
        width: 100%;
        height: 100px; /* Altura do textarea */
        resize: vertical; /* Permite ao usuário ajustar a altura verticalmente */
    }

        .input textarea:focus {
            outline: none;
            border-color: #9165e3;
        }

    .titulo-cadastro {
        margin-bottom: 35px;
        text-align: center;
        color: #9165e3;
    }
</style>

<div class="body-cadastro">
    <div class="cadastro">
        <h1 class="titulo-cadastro">Enviar Convite</h1>
        <div class="pading">
            <div id="erro" class="d-none"></div>
            <div class="margin input top">Título: @evento?.Titulo</div>
            <div class="margin input top">Descrição: @evento?.Descricao</div>
            <div class="margin input top">Início: @evento?.Inicio.ToString("dd/MM/yyyy HH:mm")</div>
            <div class="margin input top">Fim: @evento?.Fim.ToString("dd/MM/yyyy HH:mm")</div><div>
                <select id="selectUsuario" name="usuarioId">
                    <option value="" disabled selected>Selecione um usuário</option>
                    @foreach (var usuario in usuarios.Where(u => u.Id != evento.UsuarioInclusaoId))
                    {
                        <option value="@usuario.Id">@usuario.Nome</option>
                    }
                </select>
            </div>
            <div class="margin left2 top1 text-center"><button class="button-cadastro" type="submit" onclick="enviarConvite()">ENVIAR</button></div>
        </div>
    </div>
</div>

<script>
    var selectedValue;

    var selectElement = document.getElementById('selectUsuario');

    selectElement.addEventListener('change', function () {
        selectedValue = selectElement.value;
    });

    function enviarConvite() {
        const convidadoId = selectedValue;

        if (selectedValue == '') {
            $("#erro").html("Selecione um usuário!");
            $("#erro").removeClass("d-none");
            return;
        }
        $("#erro").addClass("d-none");

        $.ajax({
            url: '@(Url.Action("EnviarConvite", "Convite"))',
            method: 'POST',
            data: {
                eventoId: '@evento?.Id',
                convidadoId: convidadoId,
            },
            success: function (data) {
                if (data.sucesso) {
                    window.location.href = '@(Url.Action("Index", "Evento"))';
                }
                else {
                    $("#erro").html(data.mensagem);
                    $("#erro").removeClass("d-none");
                }
            },
            error: function (data) {
                $("#erro").html("Ocorreu um erro desconhecido");
                $("#erro").removeClass("d-none");
            },
        });
    }

</script>