@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Sistema</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap-notify.js" asp-append-version="true"></script>

    </head>
    <body>
        <div class="div">
            <div class="box">
                <div class="div">
                    <div class="pading">
                        <div class="TextoEntrar margin top"><img  class="img-logar" src="~/img/LOGO_TOP.png" /></div>
                        <div id="erro" class="d-none"></div>
                        <div class="margin input top"><input id="inputUsername" type="text" placeholder="Digite o username"></div>
                        <div class="margin input top"><input id="inputPassword" type="password" placeholder="Digite a senha"></div>


                        <div class="margin  left2 top1"><button class="button-logar" type="submit" onclick="cadastrarUsuario()">CADASTRAR</button></div>

                    </div>
                </div>             
            </div>

        </div>
 

        <script>

        function cadastrarUsuario() {
            const login = $("#inputUsername").val();
            const senha = $("#inputPassword").val();

            if (login == '' || senha == '') {
                $("#erro").html("Preencha o Login e Senha para continuar");
                $("#erro").removeClass("d-none");
                return;
            }
            $("#erro").addClass("d-none");

            $.ajax({
                url: '@(Url.Action("CadastrarUsuario", "Autenticacao"))',
                method: 'POST',
                data: {
                    Login: login,
                    Senha: senha,
                },
                success: function (data) {
                    if (data.sucesso) {
                        window.location.href = '@(Url.Action("Index", "Home"))';
                    }
                    else {
                        $("#erro").html(data.mensagem);
                        $("#erro").removeClass("d-none");
                    }
                },
                error: function (data) {
                    $("#erro").html("Ocorreu um erro ao autenticar");
                    $("#erro").removeClass("d-none");
                },
            });
        }

        </script>
    </body>
</html>